body {
    font: 12px Arial;
    -webkit-print-color-adjust: exact;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

td, th {
    padding: 1px 4px;
}

#title {
    width: 100%;
}

h3 {
    text-align: center;
}

img {
    float: left;
    position: relative;
    left: 5px;
    bottom: 5px;
    width: 166.5px;
    height: 39px;
}

#client {
    float: right;
    position: relative;
    right: 5px;
    bottom: 5px;
    width: 166.5px;
}

@media print {
    #overhead {
        display: none;
    }

    .emptyRow {
        display: none;
    }
}
