#chart{
  font: 1.1em sans-serif;
  width: 800px;
  margin: 0 auto;
}
.background {
  fill: #eee;
}

line {
  stroke: #fff;
}

text.active {
  fill: red;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #fff;
  stroke-width: 4px;
}
.year-title {
  font-size: 1.5em;
}

/* color ranges */
.RdYlGn .q0-10{fill:rgb(255,255,204)}
.RdYlGn .q1-10{fill:rgb(255,237,160)}
.RdYlGn .q2-10{fill:rgb(254,217,118)}
.RdYlGn .q3-10{fill:rgb(254,178,76)}
.RdYlGn .q4-10{fill:rgb(253,141,60)}
.RdYlGn .q5-10{fill:rgb(252,78,42)}
.RdYlGn .q6-10{fill:rgb(227,26,28)}
.RdYlGn .q7-10{fill:rgb(189,0,38)}
.RdYlGn .q8-10{fill:rgb(128,0,38)}
/*.RdYlGn .q9-10{fill:rgb(148,78,90)}*/

/* hover info */
#tooltip {
  font: 1.1em sans-serif;
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 10px;
}
