body {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.paywall {
    display: table-cell;
    vertical-align: middle;
}

.login {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

#regularLogin{
    border-right: 1px dashed #333;
}

#laddaButton2{
    left: 74%;
}
